.forecast {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 10px 16px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.forecast h2 {
  font-size: 24px;
  margin-bottom: 16px;
}

.forecast-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 4 - 16px);
  margin-bottom: 16px;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.forecast-item-container:hover {
  transform: translateY(-4px);
}

.forecast-item-container img {
  width: 64px;
  height: 64px;
  margin-bottom: 16px;
}

.forecast-item-container .date {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.forecast-item-container .temp {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.forecast-item-container .condition {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
